<div class="text-body">
  <div class="text text-mission">
  <h2>Mission</h2>
  Acceleratre the eredication of the world’s most pressing issues: <span id="txt-rotate" data-period="1000"
    data-rotate='["climate change.", "discrimination.", "the refugee crisis."]'
  >
  </span>
</div>

<div class="text text-how">
<h2>How</h2>
<ul>
  <li><b>JusticeDAO Factory:</b> A decentralized movement can’t be stopped. Our DAOs use conviction voting for effective self-organization that social movements need. </li>
<li><b>JusticeDAO Fund:</b> Never again will a social movement stall because of limited funds, our DeFi tools and investor network allow for sustainable financing until the last injustice has been eradicated.</li> 
<li><b>International Justice Alliance:</b> A global alliance of prominent justice-seeking web3 pioneers, investors, researchers, and activists.</li>
</ul>
</div>

<div class="text text-final">
  <h4>
    <span id="txt-rotate" data-period="2000"
      data-rotate='["{{site.typing_text}}", "{{site.typing_text2}}"]'
    >
    </span>
    </h4>
</div>

</div>
